.nav{
    background-color: burlywood;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    font-family: Lato;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name-icon{
    color: rgb(121, 21, 10);
}

.icon{
 width: 120px;
}

.nav-link a{
    padding-right: 20px;
    text-decoration: none;
    color: rgb(121, 21, 10);
    font-size: 18px;

}